{* This is the welcome page, you can delete it *}

{block content}

  <div class="container">
    <a n:href="openModal!" class="btn btn-primary ajax">Open modal</a>
  </div>

{snippet myModal}
{include '../components/modal.latte'}
{/snippet}
